body {
  background-color: #f1f1f1;
}
.container {
  border: solid 1px #000000;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
  width: 600px;
  height: 320px;
}

span {
  color: blue;
  font-size: larger;
}

a {
  text-decoration: none;
}

/* a:hover {
  color: red;
} */

form{
  margin: 80px 40px;
}

.gender {
  display: grid;
  grid-template-columns: 80px 1fr;
  margin: 30px 0px; 
}

button {
  outline: none;
  margin: 0px 40px;
}